body {
  background: linear-gradient(
    178deg,
    #bceae6,
    #fed1a5,
    #cc5075,
    #00383e,
    #091b48
  );
  background-size: 300% 300%;
  animation: gradient-animation 5s ease infinite;
  color: black;
  -webkit-animation: gradient-animation 5s ease infinite;
}
h1 {
  margin-top: 100px;
  font-size: large;
  font-weight: 1000;
  display: flex;
  justify-content: center;
}
.button__loginPage {
  display: flex;
  justify-content: center;
  margin-right: 120px;
}
