@keyframes move {
    100% {
        transform: translate3d(0, 0, 1px) rotate(360deg);
    }
}

.background {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background: #000040;
    overflow: hidden;
}

.background span {
    width: 14vmin;
    height: 14vmin;
    border-radius: 14vmin;
    backface-visibility: hidden;
    position: absolute;
    animation: move;
    animation-duration: 41;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}


.background span:nth-child(0) {
    color: #E45A84;
    top: 46%;
    left: 5%;
    animation-duration: 16s;
    animation-delay: -2s;
    transform-origin: 3vw 16vh;
    box-shadow: 28vmin 0 4.29330052931926vmin currentColor;
}
.background span:nth-child(1) {
    color: #E45A84;
    top: 49%;
    left: 17%;
    animation-duration: 18s;
    animation-delay: -52s;
    transform-origin: -24vw -15vh;
    box-shadow: 28vmin 0 3.908225700213249vmin currentColor;
}
.background span:nth-child(2) {
    color: #ffff80;
    top: 38%;
    left: 20%;
    animation-duration: 22s;
    animation-delay: -67s;
    transform-origin: -20vw -13vh;
    box-shadow: -28vmin 0 4.359337132599586vmin currentColor;
}
.background span:nth-child(3) {
    color: #ffff80;
    top: 94%;
    left: 73%;
    animation-duration: 32s;
    animation-delay: -59s;
    transform-origin: -10vw 14vh;
    box-shadow: 28vmin 0 4.4522320058690505vmin currentColor;
}
.background span:nth-child(4) {
    color: #004040;
    top: 34%;
    left: 47%;
    animation-duration: 16s;
    animation-delay: -81s;
    transform-origin: 9vw 7vh;
    box-shadow: 28vmin 0 3.5550976127897784vmin currentColor;
}
.background span:nth-child(5) {
    color: #ffff80;
    top: 94%;
    left: 66%;
    animation-duration: 64s;
    animation-delay: -61s;
    transform-origin: -23vw -12vh;
    box-shadow: 28vmin 0 4.145485403286048vmin currentColor;
}
.background span:nth-child(6) {
    color: #80ffff;
    top: 85%;
    left: 44%;
    animation-duration: 67s;
    animation-delay: -58s;
    transform-origin: -8vw 22vh;
    box-shadow: 28vmin 0 3.7615455807906617vmin currentColor;
}
.background span:nth-child(7) {
    color: #004040;
    top: 67%;
    left: 3%;
    animation-duration: 10s;
    animation-delay: -27s;
    transform-origin: -3vw -8vh;
    box-shadow: -28vmin 0 3.5913593809940765vmin currentColor;
}
.background span:nth-child(8) {
    color: #80ffff;
    top: 36%;
    left: 37%;
    animation-duration: 65s;
    animation-delay: -15s;
    transform-origin: 20vw 4vh;
    box-shadow: -28vmin 0 4.243681564933268vmin currentColor;
}
.background span:nth-child(9) {
    color: #80ffff;
    top: 50%;
    left: 78%;
    animation-duration: 52s;
    animation-delay: -50s;
    transform-origin: 2vw 20vh;
    box-shadow: -28vmin 0 3.6499000764903835vmin currentColor;
}
.background span:nth-child(10) {
    color: #80ffff;
    top: 81%;
    left: 85%;
    animation-duration: 90s;
    animation-delay: -27s;
    transform-origin: -3vw 23vh;
    box-shadow: 28vmin 0 3.8028568652347468vmin currentColor;
}
.background span:nth-child(11) {
    color: #80ffff;
    top: 89%;
    left: 72%;
    animation-duration: 23s;
    animation-delay: -75s;
    transform-origin: 12vw 5vh;
    box-shadow: -28vmin 0 3.964722560014178vmin currentColor;
}
.background span:nth-child(12) {
    color: #80ffff;
    top: 46%;
    left: 81%;
    animation-duration: 36s;
    animation-delay: -24s;
    transform-origin: 14vw -19vh;
    box-shadow: -28vmin 0 4.3756855580032035vmin currentColor;
}
.background span:nth-child(13) {
    color: #80ffff;
    top: 16%;
    left: 18%;
    animation-duration: 84s;
    animation-delay: -75s;
    transform-origin: 7vw 21vh;
    box-shadow: -28vmin 0 3.539041468416838vmin currentColor;
}
.background span:nth-child(14) {
    color: #004040;
    top: 86%;
    left: 10%;
    animation-duration: 21s;
    animation-delay: -73s;
    transform-origin: -20vw -13vh;
    box-shadow: 28vmin 0 4.385881444835452vmin currentColor;
}
.background span:nth-child(15) {
    color: #004040;
    top: 7%;
    left: 92%;
    animation-duration: 13s;
    animation-delay: -58s;
    transform-origin: 8vw 24vh;
    box-shadow: -28vmin 0 4.2935426716609175vmin currentColor;
}
.background span:nth-child(16) {
    color: #ffff80;
    top: 58%;
    left: 62%;
    animation-duration: 39s;
    animation-delay: -24s;
    transform-origin: -21vw 0vh;
    box-shadow: 28vmin 0 4.45163174853964vmin currentColor;
}
.background span:nth-child(17) {
    color: #ffff80;
    top: 100%;
    left: 14%;
    animation-duration: 71s;
    animation-delay: -14s;
    transform-origin: -13vw 14vh;
    box-shadow: -28vmin 0 4.36931596625505vmin currentColor;
}
.background span:nth-child(18) {
    color: #80ffff;
    top: 57%;
    left: 8%;
    animation-duration: 95s;
    animation-delay: -6s;
    transform-origin: 23vw 9vh;
    box-shadow: 28vmin 0 3.665147948142203vmin currentColor;
}
.background span:nth-child(19) {
    color: #80ffff;
    top: 91%;
    left: 57%;
    animation-duration: 33s;
    animation-delay: -29s;
    transform-origin: 6vw 8vh;
    box-shadow: 28vmin 0 4.0885042837969285vmin currentColor;
}
