body {
  color: #11100e;
  background: rgb(46, 66, 77);
  /* body {
 Homepage
  background: linear-gradient(
    180deg,
    rgba(46, 66, 77, 1) 0%,
    rgba(152, 218, 217, 1) 45%,
    rgba(91, 130, 145, 1) 75%,
    rgba(234, 235, 237, 1) 100%
  );
}
.background__img_login {
  width: 100%;
  height: 300px;
  background-image: url("../img/background2.jpg");
  background-size: 100% 100%;
}
h1 {
  font-size: large;
  font-weight: 1000;
  display: flex;
  justify-content: center;
}
.login_text {
  font-size: 30px;
  font-style: italic;
  display: flex;
  justify-content: center;
  margin-right: 120px;
} */
}
/*DARCK OPTION*/
body {
  background: linear-gradient(
    178deg,
    #71207c,
    #250230,
    #1d1618,
    #032125,
    #091b48
  );
  background-size: 300% 300%;
  animation: gradient-animation 5s ease infinite;
  color: rgb(248, 242, 242);
  -webkit-animation: gradient-animation 5s ease infinite;
}
h1 {
  margin-top: 100px;
  font-size: large;
  font-weight: 1000;
  display: flex;
  justify-content: center;
}
.button__loginPage {
  display: flex;
  justify-content: center;
  margin-right: 120px;
}
