.status__slider {
  align-items: center;
  padding: 2%;
}

.status {
  height: 85px;
  padding: 25%;
}

.status__avatar > img {
  border: 3px solid #bceae6;
  border-radius: 20%;
  box-shadow: 2px 2px 2px 2px;
  box-shadow: 0.1vw 0.8vw 1vw rgba(0, 0, 0, 0.35);
}
