.artist_slider{
  align-items: center;
  padding: 5%;

}
.artist_status{
  height: 19rem;
  padding: 25%;
 
}
.artist_status > img {
 
  cursor: pointer;
  width: 9rem;
  height: 18rem;
  border: 3px solid #bceae6;
  border-radius: 20%;
  box-shadow:2px 2px 2px 2px ;
  box-shadow: 0.1vw 0.8vw 1vw rgba(0,0,0,0.35)
}